<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form action="/post-login" method="post">
      <h3>Log in</h3>
      <p>Username:</p>
      <input type="text" placeholder="username" name="username" />
      <p>Password</p>
      <input type="text" placeholder="password" name="password" />
      <button>log in</button>
      <p>
        Dont have an account ? <span><a href="/signup">sign up</a></span>
      </p>
    </form>
  </body>
</html>
