<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form action="/post-signup" method="post">
      <h3>Sign up</h3>
      <input type="text" placeholder="username" name="username" />
      <input type="text" placeholder="email" name="email" />
      <input type="text" placeholder="password" name="password" />
      <button>sign up</button>
      <p>
        Already have an account ? <span><a href="/login">log in</a></span>
      </p>
    </form>
  </body>
</html>
